
.tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}
.tabs>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    margin: 1em;
    background-color: var(--card-background);
    border-radius: 10px;
    box-shadow: 0 0 10px 5px #151418;
    width: 100%;
}

.tabRow {
    color: var(--font-color);
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
    align-items: center;
}
.tabsRow * {
    color: var(--font-color);
}
.tabRow h2 {
    margin: 0 10px 0 10px;
}

.tabContainer>.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.tabContainer>.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.tabContainer>.content div {
    color: var(--font-color);
    flex: 0 0 70%;
    margin: 0 10px 0 10px;
    justify-content: center;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.tabContainer>.content div img {
    position: relative;
    height: 3em;
    width: 3em;
    transition: transform 0.5s;
}

.tabContainer>.content div img:hover {
    transform: scale(1.1);
}


.tabContainer>.content>img {
    flex: 0 0 30%;
    width: 20%;
    max-width: 20%;
    max-height: 20%;
    height: 20%;
    margin: 2.5% 5% 2.5% 2.5%;
    border-radius: 20px;
    transition: transform 0.5s;
    transform: perspective(500px) rotateY(-20deg);
}
.tabContainer>.content img:hover {
    transform: perspective(500px) rotateY(0deg);
}

.tabRow button {
    background-color: var(--background-color);
    font-family: 'Quantum';
    border: none;
    color: var(--font-color);
    margin: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    margin: 4px 2px;
    cursor: pointer;
}

.fade-out-left {
    animation: fadeOutLeft 0.5s forwards;
}

.fade-out-right {
    animation: fadeOutRight 0.5s forwards;  
}

@keyframes fadeOutLeft {
    0% { opacity: 1; transform: translateX(0); }
    100% { opacity: 0; transform: translateX(-100%); }
}

@keyframes fadeOutRight {
    0% { opacity: 1; transform: translateX(0); }
    100% { opacity: 0; transform: translateX(100%); }
}

.fade-in-left {
    animation: fadeInLeft 0.5s forwards;
}

.fade-in-right {
    animation: fadeInRight 0.5s forwards;
}

@keyframes fadeInLeft {
    0% { opacity: 0; transform: translateX(-100%); }
    100% { opacity: 1; transform: translateX(0); }
}

@keyframes fadeInRight {
    0% { opacity: 0; transform: translateX(100%); }
    100% { opacity: 1; transform: translateX(0); }
}
