
gmp-map {
    height: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.findMap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}
#findUs div{
    margin-top: 0.5em;
}