.footer {
	font-family: 'Heroin 07';
	position: relative;
	bottom: 0;
	width: 100%;
	box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
	background-color: #151418;
	z-index: 3;
}
.contactoFooter{
	padding: 10px;
}
.contactoFooter div{
    display: flex;
    width: 100%;
    align-items: center;
}
.contactoFooter div img{
    max-width: 10px;
    height: auto;
}
.contactoFooter div *{
    margin-left: 10px;
}